<h4 class="page-header">Products</h4>
<div class="alert alert-success" *ngIf="addedProduct">
    {{addedProduct}}
</div>
<div *ngIf="filterText">
    You searched for : <strong>{{filterText}}</strong>
</div>
<div>
    <input type="text" class="form-control" placeholder="type somethink..." [(ngModel)]="filterText">
</div>
<hr>
<div>
    <ul class="list-group">
        <li *ngFor="let product of products | productFilter:filterText" class="list-group-item">
            <button class="btn btn-sm btn-primary float-right" (click)="addToCart(product)">
                <i class="fa fa-plus"></i>
                Add
            </button>
            <div class="clearfix"></div>
            <h5>{{product.productName}}</h5>
            <p>{{product.quantityPerUnit}}</p>
            <h6>{{product.unitPrice | currency : 'USD' : true}}
                (VAT included{{product.unitPrice | vatAdded | currency : 'USD' : true}})
            </h6>
        </li>
    </ul>
</div>